.wrapper {
  //width: 1723px;
  width: 100%;
  //overflow: auto;
}

.prevBtn {
  position: absolute;
  height: 100px;
  width: 100px;
  z-index: 21;
  background: red;
  &:disabled {
    background: greenyellow;
  }
}

.nextBtn {
  z-index: 21;
  position: absolute;
  left: 200px;
  height: 100px;
  width: 100px;
  background: red;
  &:disabled {
    background: greenyellow;
  }
}

//.emptySlide {
//  width: 413px;
//  height: 271px;
//
//  @media (max-width: 1320px) {
//    width: 2013px;
//  }
//}
