.whySection {
  margin-top: -100px;
  position: relative;
  z-index: 1;

  background: url(@/assets/whyChooseUs/top-bg.png) top no-repeat,
  url(@/assets/whyChooseUs/left-bottom-bg4.png) bottom 100px left no-repeat,
  url(@/assets/whyChooseUs/right-bottom-bg2.png) bottom right no-repeat,
  url(@/assets/whyChooseUs/svg-bg.svg) bottom no-repeat;

  background-blend-mode: normal, normal, normal, color-dodge;
  background-size: auto, auto, auto, contain;


  //background-size: contain;

  min-height: 3000px;
}

.title {
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 3px;
  margin-bottom: 16px;
}

.getYourRankText {
  color: #D9C17B;
  font-size: 30px;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 3px;
  text-transform: uppercase;
}

//.sliderWrapper {
//  position: absolute;
//  bottom: 0;
//  height: 950px;
//  width: 100%;
//  background-image: url('@/assets/whyChooseUs/svg-bg.svg');
//  background-blend-mode: color-dodge;
//  background-size: cover;
//}
